@model X.PagedList.IPagedList<Produtos>

<h5 style="color: red">Produtos</h5>

@if (Model.Count > 0)
{

    @if (TempData["MSG_SUCESSO"] != null)
    {
        <p class="alert alert-success">@TempData["MSG_SUCESSO"]</p>
        <br />
    }

    <form asp-action="Index" method="get">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Produtos</h4>
            </header>
            <div class="col form-group">
                <label for="pesquisa">Pesquisar</label>
                <input name="pesquisa" placeholder="Nome do Produto" class="form-control">
            </div>
            <div class="col form-group">
                <button type="submit" class="btn btn-success"> Pesquisar </button>

            </div>
        </div>
    </form>
    <br />
    <a asp-action="Cadastrar" class="btn btn-primary mb-3">Cadastrar</a>

 
    <div class="table-responsive ">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Valor</th>

                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.nome</td>
                        <td>@item.categoria_id</td>
                        <td>@item.valor.ToString("c")</td>



                        <td>
                            <a asp-action="Atualizar" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Atualizar</a> ||
                            <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-sm btn-danger btn-excluir">Excluir</a>

                        </td>




                    </tr>
                }


            </tbody>
        </table>
    </div>

    var pesquisa = Context.Request.Query["pesquisa"];



    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa }), new PagedListRenderOptions
    {
        //PageClasses = new string[] { "page-link" },
        //UlElementClasses = new string[] { "pagination" },
        //LiElementClasses = new string[] { "page-item" },
        //DisplayItemSliceAndTotal = true,
    })

}
else
{
    <span> Nenhum Registro Cadastrado</span>
}